#object {
  width: 350px;
  height: 350px;
}
section {
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sidebside_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
}
.offer_section {
  width: 1100px;
}
.curator_image {
  justify-content: center;
}
.offer_cont,
.section_text_cont {
  text-align: left;
  width: 550px;
}
.offer_cont {
  width: 500px;
  margin-right: 100px;
}
.offer h1,
.section_text_cont h2 {
  font-size: 48px;
  color: var(--font-heading-pri);
  font-weight: 900;
  letter-spacing: 2px;
}
.section_text_cont h2 {
  font-size: 32px;
}
.offer p,
.par {
  margin: 30px 0;
  font-size: 24px;
  color: var(--font-color);
  line-height: 30px;
  font-weight: 600;
}
.par {
  margin: 20px 0 0 0;
}
.section_text_cont p {
  font-size: 16px;
  margin: 20px 0;
}
.primary_button,
.secondary_button {
  border: none;
  outline: none;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.primary_button:hover,
.secondary_button:hover {
  transform: translateY(3px);
  opacity: 0.9;
}
.secondary_button {
  padding: 10px 25px;
  margin: 30px 15px;
}
.intro_image {
  display: flex;
  align-items: center;
  justify-content: right;
}
.intro_img {
  width: 500px;
  height: auto;
  border-radius: 5px;
}
.section_text_cont p {
  margin: 10px 0;
}
.section_text_cont p:last-child {
  margin: 0;
}

.instruction_cont,
.why_section_cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 70px;
}
.instruction_cont .section_text_cont,
.why_section_cont .section_text_cont {
  text-align: center;
  width: 700px;
}
.instr_buttons {
  display: flex;
  flex-direction: row;
}
.current {
  background-color: var(--component_pri);
  color: var(--font-color);
}
.steps,
.why_cards_cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.step {
  width: 400px;
  height: 100%;
  padding: 20px;
  background-color: var(--component_sec);
  border-radius: 5px;
  margin: 25px;
}
.step_head h2 {
  font-weight: 800;
  color: var(--tooltip-color);
  font-size: 32;
  text-transform: uppercase;
}
.step_head h3 {
  font-size: 24;
  font-weight: 700;
  color: var(--tooltip-color);
  margin: 10px 0 20px 0;
  text-transform: uppercase;
}
.step .paragraph {
  font-weight: 600;
  color: var(--font-color);
  font-size: 16px;
  text-align: left;
  margin: 10px 0;
  line-height: 25px;
}
.l-s {
  height: 350px;
}
.ll-ss {
  height: 500px;
}
.hidden {
  display: none;
}
.present {
  display: flex;
}
.why_cards_cont {
  margin-top: 30px;
}
.why_card {
  width: 400px;
  height: 400px;
  padding: 20px;
  background: var(--component_pri);
  border-radius: 5px;
  margin: 25px;
}
.why_image {
  background: var(--component_sec);
  border-radius: 100px;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.why_img {
  width: 100px;
  height: auto;
}
.why_card .par {
  font-size: 16px;
  line-height: 25px;
}
.start_section {
  margin: 50px 0;
}
.start_card {
  background: var(--component_pri);
  padding: 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  width: 1000px;
}
.start_text {
  width: 50%;
  margin-left: 50px;
}
.start_img {
  width: 400px;
  height: auto;
}
#do_this {
  margin: 10px 0 25px 0;
}
.footer .section_text_cont {
  text-align: center;
}
.footer .par {
  margin: 15px;
  font-size: 16px;
}
.footer_card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.sub_cards,
.main_card,
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sub_cards {
  align-items: flex-start;
  justify-content: center;
}
.footer_card_container {
  background: var(--component_pri);
  padding: 20px;
  margin: 15px;
  border-radius: 5px;
}

.main_card_image_cont {
  padding: 45px;
  border-radius: 5px;
  background: var(--component_sec);
}
.main_card_image {
  width: 250px;
  height: auto;
}
.sub_card {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  background: var(--component_pri);
  padding: 20px;
  margin: 15px;
  border-radius: 5px;
  width: 350px;
  color: var(--font-color);
}
.section_text_cont .sub_heading {
  font-size: 18px;
}
.sub_card_subheading {
  margin: 10px 0;
}
.sub_card_image_cont {
  border-radius: 100px;
  padding: 15px;
  margin-bottom: 15px;
  width: 50px;
  height: 50px;
  background: var(--component_sec);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub_card_image {
  width: 25px;
  height: 25px;
}
.sub_card_subheading {
  color: var(--font-sec);
  font-size: 16px;
  font-weight: 800;
}
.vertical_card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 365px;
}
.vertical_card .sub_card_image_cont {
  margin: 20px 0;
  cursor: pointer;
}
.vertical_card .sub_card_image_cont:last-child {
  margin-bottom: 0;
}
