html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  margin: 0;
  padding: 0;
  font-size: 0.75%;
  font-family: "Chau Philomene One", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  color: #6c7279;
  -webkit-font-smoothing: antialiased;

  background-color: rgb(252, 249, 249);
  overflow-x: hidden;
}

thead {
  display: table-header-group;
}

tr,
img {
  page-break-inside: avoid;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}

.btn {
  outline: none;
  text-decoration: none;

  background-color: rgb(255, 194, 1);
  border: 1px solid rgb(255, 194, 1);
  padding: 10px 30px;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  margin-top: 30px;
  transition: all 0.3s linear;
}
.secondary-btn {
  border: 2px solid rgb(225, 19, 131);
  background-color: rgb(225, 19, 131);
  transition: all 0.3s linear;
  font-size: 15px;
  border-radius: 50px;
  margin-left: 10px;

  outline: none;
  text-decoration: none;

  padding: 10px 30px;
  color: black;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
  transition: all 0.3s linear;
}
.secondary-btn:hover {
  background-color: rgb(255, 223, 119);
  border: 2px solid rgb(255, 223, 119);
  transform: translateY(5px);
}
.btn:hover {
  background-color: rgb(225, 19, 131);
  border: 2px solid rgb(225, 19, 131);
  transform: translateY(5px);
}

.loader {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100000000;
}

.loader .inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.load-spin {
  animation: load-spin 1s infinite;
  width: 100px;
}

@keyframes load-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Header
===================*/

.header {
  height: 4vh;
  background-color: rgb(62, 142, 222);
  z-index: 10;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 5%;
}

.sticky {
  position: sticky;
  top: 0%;
  left: 0%;
  height: 4vh;
}

/* Logo */

.header__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

/*End of Logo */

/* Social */
.social {
  display: flex;
  justify-content: right;
  right: 0%;
}

.social__item {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
}

.social__icon {
  display: block;
  height: 18px;
  background-color: rgb(62, 142, 222);
}
svg {
  fill: white;
}
svg:hover {
  fill: white;
  opacity: 0.8;
}
/* End of Social */

/* End of Header
===================*/

.title {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.heading {
  color: black;
  font-size: 36px;
  letter-spacing: 0.2;
  font-weight: 600;
}
.subtitle {
  color: rgb(94, 94, 94);
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
}
/* #action {
    position: fixed;
    bottom: 30px;
    right: 15px;
    width: 50px;
    height: 50px;
    background: orangered;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 10000;
    text-decoration: none;
  }
  #action span {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    transition: 0.3s ease-in-out;
    opacity: 1;
  } */

/* Navigation */
.nav__link {
  margin-left: 20px;
  font-family: "Chau Philomene One", sans-serif;
  padding: 1rem;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.877);
}

.nav__link:first-child {
  margin-left: 0px;
}
.nav__link:last-child {
  margin-right: 30px;
}
.nav .current {
  color: rgb(0, 0, 0);
}

.nav-links {
  display: flex;
  justify-content: right;
  text-transform: uppercase;
  list-style: none;
  right: 50%;
}

.nav-links li {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.nav-links a {
  text-decoration: none;
}
/* End of Navigation */

/* Intro
===================*/

.intro {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url(../img/intro-img.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.intro__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.main-btn {
  width: 170px;
  box-shadow: 0px 0px 30px rgb(100, 44, 1);
  border-radius: 50px;
  font-weight: 700;
  font-size: 15px;
}
.main-btn:hover {
  animation: buttonRotation 2s linear;
}

@keyframes buttonRotation {
  0% {
    transform: scale(1) rotateZ(0);
  }
  5% {
    transform: scale(1.1) rotateZ(3deg);
  }
  10% {
    transform: scale(1.05) rotateZ(-3deg);
  }
  15% {
    transform: scale(1.05) rotateZ(3deg);
  }
  20% {
    transform: scale(1.05) rotateZ(-3deg);
  }
  25% {
    transform: scale(1.05) rotateZ(3deg);
  }
  30% {
    transform: scale(1.05) rotateZ(-3deg);
  }
  35% {
    transform: scale(1.05) rotateZ(3deg);
  }
  40% {
    transform: scale(1.05) rotateZ(-3deg);
  }
  45% {
    transform: scale(1.05) rotateZ(3deg);
  }
  50% {
    transform: scale(1.05) rotateZ(-3deg);
  }
  55% {
    transform: scale(1.05) rotateZ(3deg);
  }
  60% {
    transform: scale(1.05) rotateZ(-3deg);
  }
  65% {
    transform: scale(1.05) rotateZ(3deg);
  }
  70% {
    transform: scale(1.05) rotateZ(-3deg);
  }
  75% {
    transform: scale(1.05) rotateZ(3deg);
  }
  80% {
    transform: scale(1.05) rotateZ(-3deg);
  }
  85% {
    transform: scale(1.05) rotateZ(3deg);
  }
  90% {
    transform: scale(1.05) rotateZ(-3deg);
  }
  95% {
    transform: scale(1.05) rotateZ(3deg);
  }
  100% {
    transform: scale(1) rotateZ(0);
  }
}

.intro__title {
  color: white;
  width: 80%;
  font-size: 2.25rem;
  text-align: center;
  letter-spacing: 1px;
}
.intro__inner h2 {
  color: rgb(255, 194, 1);
  width: 80%;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 1.2px;
  padding-bottom: 15px;
}
/* End of Intro
===================*/

/* About
===================*/
.about {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  margin-bottom: 50px;
}
.about-container {
  position: relative;
  background: rgb(255, 194, 1);
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
  height: 100%;
  padding: 55px;
  background: rgb(255, 194, 1);
  border-radius: 10px;
}
/* Main section */
.about-text {
  text-align: center;
  padding-left: 0;
  font-size: 1rem;
}

.about-greetings {
  color: #000;
  background-clip: text;
  font-size: 2rem;
  letter-spacing: 0.2;
  font-weight: 600;
}
.about-par {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(0, 0, 0);
}
.about-svg-anim {
  width: 400px;
  position: absolute;
  background-color: transparent;
  top: 60%;
  left: 65%;
}
/* ABOUT SVG ANIMATION */
#first-sqr {
  animation: f-sqr-rotation 5s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes f-sqr-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1800deg);
  }
}

#second-sqr {
  animation: s-sqr-rotation 4s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes s-sqr-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-1800deg);
  }
}
#third-sqr {
  animation: t-sqr-rotation 2s infinite ease-out;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes t-sqr-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#or-sqr {
  animation: or-sqr 1s infinite linear;
}
@keyframes or-sqr {
  0% {
    transform: translate(0px, 0px);
  }
  33% {
    transform: translate(5px, 10px);
  }
  66% {
    transform: translate(-5px, -10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
#arm-svg {
  animation: arm-anim 4s infinite ease;
  transform-origin: bottom;
  transform-box: fill-box;
}
@keyframes arm-anim {
  0% {
    transform: rotateZ(0deg);
  }
  33% {
    transform: rotateZ(15deg);
  }
  66% {
    transform: rotateZ(-15deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
#head-svg {
  animation: arm-anim 4s infinite ease-in-out;
  transform-origin: bottom;
  transform-box: fill-box;
}
@keyframes arm-anim {
  0% {
    transform: rotateZ(0deg);
  }
  33% {
    transform: rotateZ(10deg);
  }
  66% {
    transform: rotateZ(-15deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
#backgr-1 {
  animation: background 3s infinite ease-in-out;
}
@keyframes background {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0px);
  }
}
#text-l1 {
  animation: text 3s infinite linear;
}

#text-l2 {
  animation: text 4s infinite ease;
}
#text-l3 {
  animation: text 5s infinite ease-in-out;
}

#text-l4 {
  animation: text 3s infinite ease-in;
}

#text-l5 {
  animation: text 2s infinite ease-out;
}
@keyframes text {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-50px);
    width: 30%;
  }
  100% {
    transform: translateX(0px);
  }
}
#circle {
  animation: circle 6s infinite linear;
}
@keyframes circle {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}
#text-btn {
  animation: text-btn 5s infinite linear;
  transform-box: fill-box;
}
@keyframes text-btn {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: translateX(0px);
  }
}
/* END OF ABOUT SVG ANIMATION */

/* End of About
===================*/

/* HOW TO JOIN
===================*/
.info {
  color: #000;
  width: 90%;
  margin: 0 auto;
}
.info-title {
  font-size: 1.7rem;
  text-align: left;
  margin-bottom: 25px;
  margin-top: 0;
}
.info-title span {
  font-size: 1.8rem;
  color: rgb(225, 19, 131);
  padding-right: 15px;
}
.info-maintxt {
  text-align: center;
  font-size: 2rem;
  color: #000;
  margin: 30px;
  padding-top: 50px;
  text-transform: uppercase;
}
.info-par {
  font-size: 1.5rem;
  text-align: left;
}
.grid-container {
  display: grid;
  grid-gap: 30px 30px;
  grid-template-columns: auto auto;
  padding: 10px;
}

.grid-item {
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

/* End of HOW TO JOIN
===================*/
.copyright {
  padding: 20px 0;
  background-color: rgb(62, 142, 222);
}

.copyright__text {
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
}
.copyright__text a {
  color: #fdad73;
  text-decoration: none;
}

/* Intro-title query */
@media screen and (min-width: 0px) and (max-width: 399px) {
  .intro__title {
    font-size: 1rem;
  }
  .about-par {
    font-size: 0.6rem;
  }
  .about-inner {
    height: 80vh;
  }
}

@media screen and (min-width: 400px) and (max-width: 454px) {
  .about-inner {
    height: 80vh;
  }
  .intro__title {
    font-size: 1.5rem;
  }
  .about-inner {
    height: 70vh;
  }
}

@media screen and (min-width: 455px) and (max-width: 773px) {
  .intro__title {
    font-size: 1.5rem;
  }
  .about-par {
    font-size: 0.8rem;
  }
  .about-inner {
    height: 60vh;
  }
}

@media screen and (min-width: 773px) and (max-width: 929px) {
  .intro__title {
    font-size: 2rem;
  }
  .about-par {
    font-size: 1rem;
  }
  .about-inner {
    height: 70vh;
  }
}

/* Navigation query and mobile editing*/
@media screen and (min-width: 0px) and (max-width: 1086px) {
  .about-par {
    font-size: 1.2rem;
  }
  .grid-container {
    grid-gap: 20px 20px;
    grid-template-columns: auto;
  }

  .intro {
    background-attachment: scroll;
    height: 91vh;
  }

  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  .social {
    display: none;
  }
  .nav {
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-links {
    position: fixed;
    background: rgb(62, 142, 222);
    right: 0%;
    top: 7%;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(80vh at 90% -10%);
    -webkit-clip-path: circle(80vh at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.3s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.5s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
}
