html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  margin: 0;
  padding: 0;
  font-size: 0.75%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  color: #6c7279;
  -webkit-font-smoothing: antialiased;

  background-color: rgb(252, 249, 249);
  overflow-x: hidden;
}

thead {
  display: table-header-group;
}

tr,
img {
  page-break-inside: avoid;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}

.btn {
  outline: none;
  text-decoration: none;

  background-color: rgb(255, 194, 1);
  border: 1px solid rgb(255, 194, 1);
  padding: 10px 30px;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  margin-top: 30px;
  transition: all 0.3s linear;
}
.secondary-btn {
  border: 2px solid rgb(225, 19, 131);
  background-color: rgb(225, 19, 131);
  transition: all 0.3s linear;
  font-size: 15px;
  border-radius: 50px;
  margin-left: 10px;

  outline: none;
  text-decoration: none;

  padding: 10px 30px;
  color: black;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
  transition: all 0.3s linear;
}
.secondary-btn:hover {
  background-color: rgb(255, 223, 119);
  border: 2px solid rgb(255, 223, 119);
  transform: translateY(5px);
}
.btn:hover {
  background-color: rgb(225, 19, 131);
  border: 2px solid rgb(225, 19, 131);
  transform: translateY(5px);
}
.title {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.heading {
  color: black;
  font-size: 36px;
  letter-spacing: 0.2;
  font-weight: 600;
}
.subtitle {
  color: rgb(94, 94, 94);
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100000000;
}

.loader .inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.load-spin {
  animation: load-spin 1s infinite;
  width: 100px;
}

@keyframes load-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* HEADER
===================*/

.header {
  height: 4vh;
  background-color: rgb(62, 142, 222);
  z-index: 10;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 5%;
  position: sticky;
  top: 0%;
  left: 0%;
}

.header__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* SOCIAL */
.social {
  display: flex;
  justify-content: right;
  right: 0%;
}

.social__item {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
}

.social__icon {
  display: block;
  height: 18px;
  background-color: rgb(62, 142, 222);
}
svg {
  fill: white;
}
svg:hover {
  fill: white;
  opacity: 0.8;
}
/* END OF SOCIAL */

/* #action {
    position: fixed;
    bottom: 30px;
    right: 15px;
    width: 50px;
    height: 50px;
    background: orangered;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 10000;
    text-decoration: none;
  }
  #action span {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    transition: 0.3s ease-in-out;
    opacity: 1;
  } */

/* NAVIGATION */
.nav__link {
  margin-left: 20px;
  font-family: "Chau Philomene One", sans-serif;
  padding: 1rem;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.877);
}

.nav__link:first-child {
  margin-left: 0px;
}
.nav__link:last-child {
  margin-right: 30px;
}
.nav .current {
  color: rgb(0, 0, 0);
}

.nav-links {
  display: flex;
  justify-content: right;
  text-transform: uppercase;
  list-style: none;
  right: 50%;
}

.nav-links li {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.nav-links a {
  text-decoration: none;
}
/* END OF NAVIGATION */

/* End of Header
===================*/

/* INTRO
===================*/

.intro {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url(../img/intro-img.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.intro__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.main-btn {
  width: 170px;
  box-shadow: 0px 0px 30px rgba(39, 17, 0, 0.596);
  border-radius: 50px;
  font-weight: 700;
  font-size: 15px;
}
.main-btn:hover {
  animation: buttonRotation 2s linear;
}

@keyframes buttonRotation {
  0% {
    transform: scale(1) rotateZ(0);
  }
  5% {
    transform: scale(1.1) rotateZ(3deg);
  }
  10% {
    transform: scale(1.05) rotateZ(-3deg);
  }
  15% {
    transform: scale(1.05) rotateZ(3deg);
  }
  20% {
    transform: scale(1.05) rotateZ(-3deg);
  }
  25% {
    transform: scale(1.05) rotateZ(3deg);
  }
  30% {
    transform: scale(1.05) rotateZ(-3deg);
  }
  35% {
    transform: scale(1.05) rotateZ(3deg);
  }
  40% {
    transform: scale(1.05) rotateZ(-3deg);
  }
  45% {
    transform: scale(1.05) rotateZ(3deg);
  }
  50% {
    transform: scale(1.05) rotateZ(-3deg);
  }
  55% {
    transform: scale(1.05) rotateZ(3deg);
  }
  60% {
    transform: scale(1.05) rotateZ(-3deg);
  }
  65% {
    transform: scale(1.05) rotateZ(3deg);
  }
  70% {
    transform: scale(1.05) rotateZ(-3deg);
  }
  75% {
    transform: scale(1.05) rotateZ(3deg);
  }
  80% {
    transform: scale(1.05) rotateZ(-3deg);
  }
  85% {
    transform: scale(1.05) rotateZ(3deg);
  }
  90% {
    transform: scale(1.05) rotateZ(-3deg);
  }
  95% {
    transform: scale(1.05) rotateZ(3deg);
  }
  100% {
    transform: scale(1) rotateZ(0);
  }
}

.intro__title {
  color: white;
  width: 80%;
  font-size: 2.25rem;
  text-align: center;
  letter-spacing: 1px;
}
.intro__inner h2 {
  color: rgb(255, 194, 1);
  width: 80%;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 1.2px;
  padding-bottom: 15px;
}
/* END OF INTRO
===================*/

/* ABOUT
===================*/
.about {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  margin-bottom: 50px;
}
.about-container {
  position: relative;
  background: rgb(255, 194, 1);
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
  height: 100%;
  padding: 55px;
  background: rgb(255, 194, 1);
  border-radius: 10px;
}
.about-text {
  text-align: center;
  padding-left: 0;
  font-size: 1rem;
}

.about-greetings {
  color: #000;
  background-clip: text;
  font-size: 2rem;
  letter-spacing: 0.2;
  font-weight: 600;
}
.about-par {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(0, 0, 0);
}
.about-svg-anim {
  width: 400px;
  position: absolute;
  background-color: transparent;
  top: 60%;
  left: 65%;
}
/* END OF ABOUT
===================*/

/* HOW TO JOIN
===================*/
.info {
  color: #000;
  width: 90%;
  margin: 0 auto;
}
.info-title {
  font-size: 1.7rem;
  text-align: left;
  margin-bottom: 25px;
  margin-top: 0;
}
.info-title span {
  font-size: 1.8rem;
  color: rgb(225, 19, 131);
  padding-right: 15px;
}
.info-maintxt {
  text-align: center;
  font-size: 2rem;
  color: #000;
  margin: 30px;
  padding-top: 50px;
  text-transform: uppercase;
}
.info-par {
  font-size: 1.5rem;
  text-align: left;
}
.grid-container {
  display: grid;
  grid-gap: 30px 30px;
  grid-template-columns: auto auto;
  padding: 10px;
}

.grid-item {
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
.button-wrapper {
  right: 50%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 50px;
}
/* End of HOW TO JOIN
===================*/

/* FACTS
===================*/
.facts {
  background: rgb(255, 253, 246);
  position: relative;
  padding: 50px 0;
}
.facts-heading {
  text-align: center;
}
.facts-list {
  text-align: left;
  font-size: 18px;
  color: #000;
}
.image-container {
  display: flex;
  align-items: center;
}
.image-container img {
  width: 100%;
  height: auto;
}

/* END OF FACTS
===================*/

/* FOOTER
===================*/
footer {
  background-color: rgba(21, 50, 58, 0.9);
  color: #fff;
  margin-bottom: -20px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 5%;
}
footer a {
  text-decoration-color: #fff;
  color: #fff;
}
.footer-info {
  line-height: 1.6;
}
.footer-social-links {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.footer-social-links li {
  padding: 0 7px;
}
.footer-social-links ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.copyright {
  padding: 20px 0;
  background-color: rgb(62, 142, 222);
}

.copyright__text {
  text-align: center;
  line-height: 1.5;
  font-size: 12px;
  color: #fff;
}
.copyright__text a {
  color: white;
  text-decoration: none;
  color: rgb(255, 194, 1);
  font-size: 16px;
}
.my-link a {
  font-size: 12px;
  color: rgb(255, 243, 203);
}
.copyright_date {
  font-size: 14px;
}
/* END OF FOOTER
===================*/

/* Intro-title query */
@media screen and (min-width: 0px) and (max-width: 399px) {
  .intro__title {
    font-size: 1rem;
  }
  .about-par {
    font-size: 0.6rem;
  }
  .about-inner {
    height: 80vh;
  }
}

@media screen and (min-width: 400px) and (max-width: 454px) {
  .about-inner {
    height: 80vh;
  }
  .intro__title {
    font-size: 1.5rem;
  }
  .about-inner {
    height: 70vh;
  }
}

@media screen and (min-width: 455px) and (max-width: 773px) {
  .intro__title {
    font-size: 1.5rem;
  }
  .about-par {
    font-size: 0.8rem;
  }
  .about-inner {
    height: 60vh;
  }
}

@media screen and (min-width: 773px) and (max-width: 929px) {
  .intro__title {
    font-size: 2rem;
  }
  .about-par {
    font-size: 1rem;
  }
  .about-inner {
    height: 70vh;
  }
}

/* Navigation query and mobile editing*/
@media screen and (min-width: 0px) and (max-width: 1086px) {
  .image-container {
    justify-content: center;
  }
  .about-par {
    font-size: 1.2rem;
  }
  .grid-container {
    grid-gap: 20px 20px;
    grid-template-columns: auto;
  }

  .intro {
    background-attachment: scroll;
    height: 91vh;
  }

  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  .social {
    display: none;
  }
  .nav {
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-links {
    position: fixed;
    background: rgb(62, 142, 222);
    right: 0%;
    top: 7%;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(95vh at 90% -10%);
    -webkit-clip-path: circle(95vh at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.3s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.5s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
}
